:root {
    --mainColor: white;
} 
body {
    background-color: rgb(11, 13, 23);
    font-family: "Barlow Condensed", sans-serif; 
    color: white;
    font-size: 15px; 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
    background-image: url(images/background-crew-mobile.jpg); 
    background-position-x: center;     
    background-repeat: repeat-x;
}  
/* Start Header */
ul li a { 
    color: var(--mainColor);  
    text-decoration: none; 
    text-transform: uppercase;
} 
nav ul {
    display: flex;
    gap: 40px;    
    margin-left: 300px; 
    list-style: none;
} 
.logo {
    transform: translate(50px , 50px);  
    cursor: pointer;
} 
.active {
    border-bottom: 3px solid white; 
    padding-bottom: 20px;
} 
.active:hover {
    border-bottom: 3px solid #777;
    transition: 0.25s; 
}
nav ul li a:hover {
    border-bottom: 3px solid #777;
    padding-bottom: 20px;
    transition: 0.25s;     
}  
/* End Header */ 
/* Start Header Mobile */
.sidemenu {
    position: fixed;  
    top: 0; 
    right: 0; 
    height: 100%; 
    width: 0px; 
    background: rgba(255, 255, 255, 0.02);
    backdrop-filter: blur(20px);
   -webkit-backdrop-filter: blur(20px); 
   z-index: 9999;
   display: none;
   overflow: hidden;
   display: flex; 
}
.sidemenu a{
    text-decoration: none; 
    color: var(--mainColor);
    padding: 8px;    
    text-transform: uppercase;
    flex-direction: column;    
    display: block;    
    margin-left: 40px;
    margin-top: 30px;
    margin-bottom: 0;
}
#menu {
    transition: 0.6s; 
} 
.mainbox {
    position: fixed; 
    top: 0; 
    right: 0; 
    display: none;
    font-size: 25px;
} 
.sidemenu .closebtn{
    position: absolute; 
    top: 0;
    right: 20px;
    font-size: 50px;
} 
/* Start Section */
.page_desc {
    margin-left: 50px; 
    margin-top: 70px;
    text-transform: uppercase;
    word-spacing: 4px;
}
.page_desc .number {
    opacity: 0.5;
    font-size: 20px;
}
.section .container {
    display: flex; 
}
.info {
    margin-left: 70px;
    margin-top: 70px;
} 
.image img {
    width: 180px; 
    height: 250px;
    transform: translate(170px,210px);  
}
.info .job-title {
    opacity: 0.5;
    text-transform: uppercase;    
    transform: translatey(-25px); 
    font-size: 25px;   
}
.info .crew-description {
    max-width: 500px;
    margin-top: 40px;
    line-height: 2;
    opacity: 0.8;
    color: rgb(208, 214, 249);
}
.info .crew-name {
    text-transform: uppercase; 
    font-weight: bold; 
    font-size: 50px;
    opacity: 0.8;
}
.info .btns {
    display: flex;
    gap: 20px;
    margin-top: 50px;  
    cursor: pointer; 
    font-size: 50px; 
} 
.info .btns button {
    background-color: #777;
}
.info .btns button {
    width: 15px; 
    height: 15px; 
    border-radius: 50%;
    border: none;
    outline: none;
}
.btns button:hover {
    background-color: white;
}
.info button:nth-child(1){
    background-color: white;
} 
/* End Section */
/* End Header Mobile */ 
@media(max-width: 767px) {
    nav ul li a {
        display: none;
    } 
    .logo {
        margin-top: -30px;
        margin-left: -30px;
    }     
    .sidemenu {
        display: block;
        transform: translatex(-10px);
    }
    .mainbox {
        display: block;
        transform: translate(-30px,30px);         
    }  
    .page_desc {
        margin-left: 25%;
    }
    .section .info {
        margin-top: 500px;
    }
    .crew-description {
        max-width: 500px; 
        font-size: 10px;
        margin-right: 50px;
        transform: translate(50px,-70px);
    }
    .info .crew-name {
        font-size: 17px;
        transform: translate(50px,-80px);
    }
    .image img {
        transform: translate(-100px , 10px); 
        border-bottom: 1px solid white;
    }
    .info .btns {
        transform: translate(70px,-520px);         
    }
    .info .job-title {
        transform: translate(70px,-120px);      
        font-size: 17px;
    }
};
/* End Responsive Mobile */